table
{
	border: 0;
	width: 700px;
	max-width: 60%;
	margin-left: 50px;
	margin-right: auto;
	text-align: left;
	transition: all 1s linear 0s;
}

td > *
{
	width: 100%;
}

table tr td:first-child,
table tr th:first-child
{
	width: 250px;
}

div.on
{
	opacity: 1;
	visibility: visible;
}

div.off
{
	opacity: 0;
	visibility: hidden;
}

div.hide
{
	opacity: 0;
	visibility: hidden;
	display: none;
}

section > p
{
	transition: 0.25s ease-in;
	margin-right: auto;
	padding: 10px;
}

section > p:hover
{
	background-color: lightgreen;
}
